{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-center align-items-center">
    <div class="col-12  col-sm-6 col-lg-6 col-md-6 login">
        <div class="col-12 login-title">
            Mot de passe perdu ?
        </div>
        <div class="col-12 login-form">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group">
                    <input type="email" placeholder="{{ 'app.user.email'|trans({}, 'messages') }}" id="username" name="username" required="required" class="form-control"  />
                </div>
                <div class="row justify-content-center pt-3">
                    <div class="col-auto text-center">
                        <button role="button" class="btn btn-viaclub d-none d-sm-block" type="submit" id="_submit" name="_submit">{{ 'resetting.request.submit'|trans }}</button>
                        <button role="button" class="btn btn-viaclub d-block d-sm-none" type="submit" id="_submit" name="_submit">Réinitialiser</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

