{% extends 'base.html.twig' %}

{% block heading %}{% endblock %}

{% block body %}
    {%  if form.vars.value.id is defined %}
        <h1>Modifier un ingrédient</h1>
        {% set textButton = "Modifier" %}
    {% else %}
        <h1>Ajouter un ingrédient</h1>
        {% set textButton = "Ajouter" %}
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success btn-lg pull-right">{{ textButton }}</button>
    {{ form_end(form) }}
{% endblock %}